{% include 'head.html' %}
		<link rel="stylesheet" type="text/css" href="/static/styles/sudoku.css" />
		<script type="text/javascript" src="/static/scripts/sudoku.js"></script>
	</head>
	<body>
		<table role="heading" class="headerBar">
			<tr>
				<td></td>
				<td style="width: 2.5em;">Sudoku</td>
				<td></td>
				<td></td>
			</tr>
		</table>
		<table style="margin: 0 auto;">
			<tr>
				<td>
					<table id="gameGrid" cellspacing="0"></table>
				</td>
				<td>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				</td>
				<td id="buttonPanel">
				</td>
			</tr>
		</table>
	</body>
</html>
