{% include 'head.html' %}
		<link rel="stylesheet" type="text/css" href="/static/styles/rebus.css" />
		<script type="text/javascript" src="/static/scripts/rebus.js"></script>
		<script type="text/javascript" src="/static/scripts/aimy.js"></script>
	</head>
	<body>
		<table role="heading" class="headerBar">
			<tr>
				<td></td>
				<td style="width: 2.5em;">A.I.M.Y. System Override</td>
				<td></td>
				<td></td>
			</tr>
		</table>
		<br />
		<br />
		<div id="inputs">
			<input class="passField" placeholder="&nbsp;&#x2460;" autofocus="autofocus" />
			<input class="passField" placeholder="&nbsp;&#x2461;" />
			<input class="passField" placeholder="&nbsp;&#x2462;" />
		</div>
		<div id="keyboard">
		</div>
		{% include 'aimy/bsod.html' %}
	</body>
</html>
