<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		
		<link rel="stylesheet" type="text/css" href="/static/styles/lcars.css" />
		
		<script type="text/javascript" src="/static/scripts/material-touch.js"></script>
	</head>
	<body>
		<h1 style="margin-top: 0;">Where are you trying to go?</h1>
		<h2>A.I.M.Y. Track</h2>
		<a role="button" href="/aimy/progress">Progress Bar</a>
		<br />
		<br />
		<a role="button" href="/aimy/rebus">Rebus Puzzles</a>
		<br />
		<br />
		<a role="button" href="/aimy/sundial">Sundial Page</a>
		<br />
		<br />
		<h2>Jar-El Track</h2>
		<a role="button" href="/jarel/progress">Progress Bar</a>
		<br />
		<br />
		<a role="button" href="/jarel/sudoku">Sudoku</a>
		<br />
		<br />
		<a role="button" href="/jarel/lightsout">Lights Out</a>
	</body>
</html>
