{% include 'head.html' %}
		<link rel="stylesheet" type="text/css" href="/static/styles/basic_page.css" />
	</head>
	<body>
		<h1 style="font-size: 225%; margin-top: 0;">Where are you trying to go?</h1>
		<h2>A.I.M.Y. Track</h2>
		<a role="button" href="/aimy/admin">Admin Page</a>
		<br />
		<br />
		<a role="button" href="/aimy/progress">Progress Bar</a>
		<br />
		<br />
		<a role="button" href="/aimy/rebus">Rebus Puzzles</a>
		<br />
		<br />
		<h2>Jar-El Track</h2>
		<a role="button" href="/jarel/admin">Admin Page</a>
		<br />
		<br />
		<a role="button" href="/jarel/progress">Progress Bar</a>
		<br />
		<br />
		<a role="button" href="/jarel/sudoku">Sudoku</a>
		<br />
		<br />
		<a role="button" href="/jarel/lightsout">Lights Out</a>
	</body>
</html>
