<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/static/styles/lcars.css" />
		<link rel="stylesheet" type="text/css" href="/static/styles/lights_out.css" />
		
		<script type="text/javascript" src="/static/scripts/material-touch.js"></script>
		<script type="text/javascript" src="/static/scripts/lights_out.js"></script>
	</head>
	<body>
		<table role="heading" class="headerBar">
			<tr>
				<td></td>
				<td style="width: 7.4em;">Android Factory Reset</td>
				<td></td>
				<td></td>
			</tr>
		</table>
		<table style="margin: 12em auto;">
			<tr>
				<td>
					<table id="gameGrid" cellspacing="0"></table>
				</td>
				<td>
					<table id="outputGrid">
					</table>
				</td>
			</tr>
		</table>
	</body>
</html>
